

.hidden{
  display: none;

}

.container{
  margin-top: 50px;
  text-align: center;
  margin-bottom:50px;

}


#new-medication-results{
  /* outline: 1px solid black; */
  padding: 20px;
  /* font-size: 16px; */
  margin-bottom: 30px;
}

.danger{
  /* outline: 4px solid red; */
  background-color: #e04a4a;
  color:white;
}

.no-danger{
  /* outline: 4px solid green; */
  background-color: #91db30;
}

.some-danger{
  /* outline: 4px solid yellow; */
  background-color: #eae73a;
}

h4{
  padding:0;
  margin:0;
  text-align: center;
  padding-top:10px;
}

h6{
  padding:0;
  margin:0;
  text-align: center;
  padding-bottom: 15px;
}

#new-medication-info{
  margin-top:50px;
  margin-bottom:50px;
}

#add-to-my-medication{

}



.alert-div{
  padding:10px;
  margin-bottom:20px;
  /* box-shadow: 1px 1px 10px 1px black; */
      /* border-radius: 0 0 2px 2px; */
    box-shadow:  1px 1px 5px #888888;
}


.moderate-danger{
  background-color: orange;
  color:white;
}

.major-danger{
  background-color: red;
  color:white;
}

.minor-danger{
  background-color: yellow;
  color:white;

}

.card{
  width:400px;
  margin: auto;
}

@keyframes example {
  from {display: none;}
  to {display: block;}
}
