
html, body{
  margin:0;
  padding:0;
  width:100%;
}

#nav-bar{
  width: 100%;
}

.hidden{
  display: none;

}

.container{
  margin-top: 50px;
  text-align: center;
  margin-bottom:50px;

    /* width:600px; */
    /* min-width: 300px; */

}


#new-medication-results{
  /* outline: 1px solid black; */
  padding: 20px;
  /* font-size: 16px; */
  margin-bottom: 30px;

  /* max-height:0; */
  /* animation-name: example;
  animation-duration: 4s; */
  /* transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1); */

}



.danger{
  /* outline: 4px solid red; */
  background-color: #e04a4a;
  color:white;
}

.no-danger{
  /* outline: 4px solid green; */
  background-color: #91db30;
}

.some-danger{
  /* outline: 4px solid yellow; */
  background-color: #eae73a;
}

h4{
  padding:0;
  margin:0;
  text-align: center;
  padding-top:10px;
  padding-bottom:20px;
  position: relative;
}

h6{

  padding:0;
  margin:0;
  text-align: center;
  padding-bottom: 15px;
}

#logo{
  filter:invert(100%);
  align-items: center;
  /* margin: auto; */
  /* display: block; */
  width: 50px;
  height:auto;
  margin-right: 30px;
  /* margin-top:20px; */
  position: absolute;
  left:50px;
}

#new-medication-info{
  margin-top:50px;
  margin-bottom:50px;
}

#add-to-my-medication{

}



.alert-div{
  padding:10px;
  margin-bottom:20px;
  /* box-shadow: 1px 1px 10px 1px black; */
      /* border-radius: 0 0 2px 2px; */
    box-shadow:  1px 1px 5px #888888;

}

#my-medication-alerts{

}

#login-container{

  /* margin:auto; */
  margin-left: 0;
  margin-right:0;
  padding: 0;
  width: 100%;
  margin: auto;

}

#kennitala{
  width:300px;
  /* display: inline; */
  margin-bottom:40px;
  margin-top:40px;
  margin-left: 0;
}


.moderate-danger{
  background-color: orange;
  color:white;
}

.major-danger{
  background-color: red;
  color:white;
}

.minor-danger{
  background-color: yellow;
  color:black;

}

.card{
  /* width:400px; */
  width:90%;
  max-width: 400px;
  margin: auto;
}

@keyframes example {
  from {height: 0%;}
  to {height:100%;}
}
